body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    padding-top:10;
    border-radius:25px;
    margin:auto;
}
.subdiv {
line-height:30px;
padding-left:80px;
}
.resultbox {
line-height:18px;
padding-left:80px;
}
mark { 
  background-color: yellow;
  color: black;
}
